<h1>Register new user</h1>

<form method="post" action="<%= users_url %>">
  <%= auth_token %>
  <label for="username">User Name:</label>
  <input type="text" name="user[username]" id="username" />

  <br>

  <label for="password">Password:</label>
  <input type="text" name="user[password]" id="password" />

  <br>

  <input type="submit" value="Register" />
</form>
